<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>.gif Getter</title>
  </head>
  <body ng-controller="searchCtrl">
    <header>
        <h1>Get.gif</h1>
    </header>
    <div class="main-container">
      <h3>Search for a gif</h3>
      <input type="text" placeholder="Search for a tag" ng-model="tag">
      <button type="button" ng-click="getGifs(tag)">Submit</button>

      <ui-view></ui-view>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script src="js/searchCtrl.js"></script>
    <script src="js/mainService.js"></script>
    <script src="js/infoCtrl.js"></script>
  </body>
</html>
