body{
  background: black;
    font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

button{
  outline: none;
}

input{
  outline: none;
}

hr {
  border-top: 1px solid #9933FF;
}

.main-content {
  text-align: center
}

.results{
  padding-bottom: 15px;

}

.title{
  font-family: 'Orbitron', sans-serif;
  font-size: 64px;
  color: white;
  margin-left: 10%;
}

.container{
  margin-top: 40px;
}

.dot{
  color:#FF6666;
}

.dash{
  color: #00FF99;
}

.tagline{
  font-size: 18px;
  font-style: italic;
  color: #5C5C5C;
}

.search-box{
  width: 35%;
  height: 35px;
}

.button{
  background: #BDBDBD;
    border: none;
}
.search-btn{
  width: 5%;
  height: 35px;
  color: white;
  margin-left: -5%;
  padding-top: 4px;
}

.button:hover{
  background: #5C5C5C;
}

.gif-info {
  background: #212121;
  width: 80%;
  margin: 0 auto;
  height: 15vh;
  padding: 10px 20px 0 20px;
}

.selected-content {
  margin-bottom: 1%;
}

#gif-info-title {
  text-align: left;
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

#url {
  width: 55%;
}

.fa-frown-o {
  font-size: 4em;
}

.body-text{
  color: #C1C1C1;
}

.line {
  padding: 2px;
}

 .results:nth-child(odd) a:hover{
  outline: 2px solid #00A8D3;
}
 .results:nth-child(even) a:hover{
  outline: 2px solid #00FF99;
}

.fav-btn:active {
  color: yellow;
}

#nav-fav {
  float: right;
  /*border-bottom: 1px solid #FFF35C;*/
  padding: 7px;
  color: #FFF35C;
  letter-spacing: 1px;
}

#nav-fav:hover {
  border-bottom: 1px solid #FFF35C;
  transition: .2s
}

/*.add-alert {
  visibility: hidden;
}*/
